@import "https://js.arcgis.com/4.29/@arcgis/core/assets/esri/themes/light/main.css";

/* a minimalist set of CSS resets */

/* default to border-box */
html,
body,
#viewDiv {
  box-sizing: border-box;

  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  background-color: var(--calcite-color-background);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

#search-container {
  padding: 0px 10px;
}

.list-view {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  gap: min(2vh, 2rem);
  height: 100dvh;
  padding: min(4vw, 2rem);

  h1 {
    margin: 0;
  }
}
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(20vw, 25%), 1fr));
  grid-auto-rows: max-content;
  grid-row-end: 4;
  gap: min(2vw, 2rem);
  max-height: 100%;
  overflow: auto;
  scrollbar-gutter: stable;
}
